In [42]:
import pandas as pd

file_path = '..\data\overall_life_satisfaction\estat_ilc_pw01_filtered_en.csv'
columns_to_include = ['geo', 'TIME_PERIOD', 'OBS_VALUE', 'OBS_FLAG']

df = pd.read_csv(file_path, usecols=columns_to_include)

# (u) low reliability
# (b) break in time series
# (bu) break in time series, low reliability
df = df[~df['OBS_FLAG'].isin(['u', 'b', 'bu'])]

df = df.drop(columns=['OBS_FLAG'])

df

                geo  TIME_PERIOD  OBS_VALUE
0           Albania         2018        5.5
1           Albania         2021        5.7
2           Austria         2013        7.8
3           Austria         2018        8.0
4           Austria         2021        8.0
..              ...          ...        ...
161         Türkiye         2021        5.6
162         Türkiye         2022        5.4
163         Türkiye         2023        5.6
165  United Kingdom         2018        7.6
166         Kosovo*         2018        5.9

[126 rows x 3 columns]